<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../statics/style.css">
</head>
<body>
    <nav>
        <h3>Dashboard</h3>
        <a href="/logout">Logout</a>
    </nav>
    <div class="button-container">
        <button onclick="location.href='/students'">Students</button>
        <button onclick="location.href='/teachers'">Teachers</button>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <div class="end">
        <p>All copyrights reserved &copy; 2025.</p>
    </div>
</body>
</html>